{% extends "home/home.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4" style="margin-top:200px">
<h2 id="videoId"> Video Id : {{ videoId }}</h2>
<h2 id="videoLabel"> Predicted Label : {{ videoLabel }}</h2>
        <h2 id="videoLabel"> True Label : {{ videoLabel }}</h2>
    </div>
      <div class="col-md-4" style="margin-top:150px">
       <h1> Original data</h1>
<video width="320" height="240" controls>
    <source src="{{ originalVideoAddress }}" type="video/mp4">
</video>
    </div>
    <div class="col-md-4" style="margin-top:100px">
        <h2> what model really knows?</h2>
        		<div id="pingfen">
			<ul>
				<li></li> <li></li> <li></li>
                <li></li> <li></li> <li></li>
                <li></li> <li></li> <li></li>
			</ul>
			<p>一般</p>
                    <form method="post" action="/submit" >
{#                {{ rule.ComplexWord+" "+rule.SimpleWord  }}#}
{#                         <input type="Submit" name="button" id="S1" value="">#}
                        <button name = "button" type="Submit" style="margin-left: 535px; margin-top: 50px" onclick="addList()" id="S1" value="">Submit </button>
{#                        <input type="checkbox" name="hobby" value="running" >{{hh}}<br>#}
{#                        <button type="submit" style="margin-left: 140px; margin-top: 50px" onclick="addList()">Submit </button>#}
{#                        <div style="position:relative;left:170px; margin-down:-20px">#}
{#           <button type="button" style="margin-left: 140px; margin-top: 50px" onclick="addList()">Submit </button>#}
{##}
{#         </div>#}

{#            <input type="checkbox" name="hobby" value="running" >{{rule.SimpleWord}}<br>#}

    </form>
{#            <button type="button" style="margin-left: 140px; margin-top: 50px" onclick="addList()">Submit </button>#}
		</div>
    </div>
  </div>
</div>
    <style type="text/css">
			* {
				margin: 0 auto;
				padding: 0;
			}
                .svg {
    border: 1px solid grey;
}
            .line {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
}
			.content{
				width: 160px;
				border: 10px solid #e6e6e6;
			}
			.pic{
				width: 160px;
				margin: 10px auto;
				border: 0;
			}
			.pic img{
				width: 160px;
			}
			#pingfen {
				width: 100%;
				margin: 10px auto;
				height: 100%;
			}
			#pingfen ul {
                width: 100%;
				height: 32px;
				margin-bottom: 32px;
			}
			#pingfen li {
                box-sizing: border-box;
                float:left;
				width: 33.3333%;
				height: 33.3333%;
				background-color: white;
                padding-top: 33.3333%;
				list-style: none;
                position: relative;
                border: solid 1px;
			}
			#pingfen .active {
				background-color: red;
			}
			#pingfen p {
				width: 160px;
				height: 32px;
				background: white;
				line-height: 32px;
				text-align: center;
				font-size: 16px;
				border: 1px solid #ccc;
				display: none;
			}
            #pingfen submit {
				width: 160px;
				height: 32px;
				background: white;
				line-height: 32px;
				text-align: center;
				font-size: 16px;
				border: 1px solid #ccc;
				display: none;
			}
		</style>
    		<script type="text/javascript" src="https://d3js.org/d3.v7.min.js">
        window.onload = function() {
			    var list = [];
				var aData = [1, 2, 3, 4, 5, 6, 7, 8, 9];
				var button = document.getElementsByTagName('button');
				var oDiv = document.getElementById('pingfen');
				var oli = oDiv.getElementsByTagName('li');
				var oP = oDiv.getElementsByTagName('p')[0];
				var i = 0;
				var line;
				var counter=0;
				var vis = d3.select("body").append("svg")
    .attr("width", 600)
    .attr("height", 400)
    .on("click", onclick)
				for(i = 0; i < oli.length; i++) {
					oli[i].index = i;
					oli[i].onmouseover = function() {
						oP.style.display = 'block';
						oP.innerHTML = aData[this.index];
						oli[this.index].className = 'active';
					};
					oli[i].onmouseout = function() {
					        oP.style.display = 'none';
                            oli[this.index].className = '';
					};
					oli[i].onclick = function(){
					    if(counter === 0){
					        oli[this.index].className = 'active';
					        var m = d3.mouse(this);
					        counter = 1;
					        line = vis.append("line")
                            .attr("x1", m[0])
                            .attr("y1", m[1])
                            .attr("x2", m[0])
                            .attr("y2", m[1]);
					        vis.on("mousemove", onmousemove);
					    }
					    else{
					        counter =0;
                            oli[this.index].className = 'active';
                            vis.on("mousemove", null);
                        }
                        }
					oli[i].onmousemove = function (){
					    if(counter === 1){
					            var m = d3.mouse(this);
					            line.attr("x2", m[0])
                                    .attr("y2", m[1]);
                        }
                    }
				}

			}
        function addList() {
                var list = [];
                var aData = [1, 2, 3, 4, 5, 6, 7, 8, 9];
                var oDiv = document.getElementById('pingfen');
                var oli = oDiv.getElementsByTagName('li');
				var oP = oDiv.getElementsByTagName('p')[0];
                for(let ii = 0; ii < oli.length; ii++){
					        if(oli[ii].className === 'active'){
					            list.push(aData[ii]);
                            }
                        }
                var final_list = ""
                final_list = final_list + list.toString()
                final_list = final_list + " "
                document.getElementById('S1').value=final_list;
        }
		</script>

{% endblock %}