{% extends "home/home.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4" style="margin-top:200px">
<h2 id="videoId"> Video Id : {{ videoId }}</h2>
        <h2 id="trueLabel"> True Label : {{ trueLabel }}</h2>
        <h3 id="name"> {{ videoId }}_{{ videoLabel }}_{{ trueLabel }}_OS.mp4</h3>
    </div>
      <div class="col-md-4" style="margin-top:150px">
       <h1> Original data</h1>
<video width="320" height="240" controls>
    <source src="{{ originalVideoAddress }}" type="video/mp4">
</video>
    </div>
    <div class="col-md-4" style="margin-top:100px">
        <h2> what model should knows?</h2>
        		<div id="pingfen">
			<ul>
				<li></li> <li></li> <li></li>
                <li></li> <li></li> <li></li>
                <li></li> <li></li> <li></li>
			</ul>
			<p>一般</p>
                    <form method="post" action="/submit" >
{#                {{ rule.ComplexWord+" "+rule.SimpleWord  }}#}
{#                         <input type="Submit" name="button" id="S1" value="">#}
                        <div  align="left" style="float: left">
                            <button name = "button1" class="button" type="button" onclick="clearAll()" id="S2" value="">Clear all </button>
                        </div>
                        <div align="right">
                            <button name = "button" class="button" type="Submit"  onclick="addList()" id="S1" value="">Submit </button>
                        </div>
{#                        <input type="checkbox" name="hobby" value="running" >{{hh}}<br>#}
{#                        <button type="submit" style="margin-left: 140px; margin-top: 50px" onclick="addList()">Submit </button>#}
{#                        <div style="position:relative;left:170px; margin-down:-20px">#}
{#           <button type="button" style="margin-left: 140px; margin-top: 50px" onclick="addList()">Submit </button>#}
{##}
{#         </div>#}

{#            <input type="checkbox" name="hobby" value="running" >{{rule.SimpleWord}}<br>#}

    </form>
{#            <button type="button" style="margin-left: 140px; margin-top: 50px" onclick="addList()">Submit </button>#}
		</div>
    </div>
  </div>
</div>
    <style type="text/css">
			* {
				margin: 0 auto;
				padding: 0;
			}
            .svg{
                 border: 1px solid grey;
            }
            .line{
                stroke: steelblue;
                stroke-width: 2px;
                stroke-linecap: round;
            }
			.content{
				width: 160px;
				border: 10px solid #e6e6e6;
			}
			.pic{
				width: 160px;
				margin: 10px auto;
				border: 0;
			}
			.pic img{
				width: 160px;
			}
			#pingfen {
				width: 100%;
				margin: 10px auto;
				height: 100%;
			}
			#pingfen ul {
                width: 100%;
				height: 32px;
				margin-bottom: 32px;
			}
            .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
            .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
			#pingfen li {
                box-sizing: border-box;
                float:left;
				width: 33.3333%;
				height: 33.3333%;
				background-color: white;
                padding-top: 33.3333%;
				list-style: none;
                position: relative;
                border: solid 1px;
			}
			#pingfen .active {
				background-color: red;
			}
			#pingfen p {
				width: 160px;
				height: 32px;
				background: white;
				line-height: 32px;
				text-align: center;
				font-size: 16px;
				border: 1px solid #ccc;
				display: none;
			}
            #pingfen submit {
				width: 160px;
				height: 32px;
				background: white;
				line-height: 32px;
				text-align: center;
				font-size: 16px;
				border: 1px solid #ccc;
				display: none;
			}
		</style>
    		<script type="text/javascript">
                var tempList = [];
                const a = new Map()
                const b = new Map()
        window.onload = function() {
				var aData = [1, 2, 3, 4, 5, 6, 7, 8, 9];
				{#var button = document.getElementsByTagName('button1');#}
				var oDiv = document.getElementById('pingfen');
				var oli = oDiv.getElementsByTagName('li');
				var oP = oDiv.getElementsByTagName('p')[0];
				var templine;
				var temp;
				var i = 0;
				var counter=0;
				for(i = 0; i < oli.length; i++) {
					oli[i].index = i;
					if(i<3) oli[i].level = 1;
					else if(i<6) oli[i].level = 2;
					else oli[i].level = 3;
					oli[i].onmouseover = function() {
						{#oP.style.display = 'block';#}
						oP.innerHTML = aData[this.index];
						oli[this.index].className = 'active';
						if(counter!==0){
						    if((this.level === temp.level && Math.abs(this.index - temp.index)===1) || (Math.abs(this.level - temp.level)===1 && Math.abs(this.index - temp.index)<=4 && Math.abs(this.index - temp.index)>=2)){
						        templine = new LeaderLine(LeaderLine.pointAnchor(temp), LeaderLine.pointAnchor(oli[this.index]), {dash: {animation: true}});
						        templine.setOptions({path:'arc'});
                            }
                        }
					};
					oli[i].onmouseout = function() {
					        oP.style.display = 'none';
                            oli[this.index].className = '';
                            if(templine!==null){
                                templine.hide();
                            }

					};
					oli[i].onclick = function(){
					    if(counter === 0){
					        counter = 1;
					        oli[this.index].className = 'active';
					        temp = oli[this.index];
					    }
					    else{
					        if((this.level === temp.level && Math.abs(this.index - temp.index)===1) || (Math.abs(this.level - temp.level)===1 && Math.abs(this.index - temp.index)<=4) && Math.abs(this.index - temp.index)>=2){
					            counter =0;
					            oli[this.index].className = 'active';
					            var key = temp.index + "_" + this.index;
					            if(!a.has(key)){
					                var line = new LeaderLine(
					                LeaderLine.pointAnchor(temp),
                                    LeaderLine.pointAnchor(oli[this.index])
                                );
					            line.setOptions({path:'arc'});
					            tempList.push([temp.index+1, this.index+1]);
					            a.set(key, line);
					            b.set(key, 1);
                                }
					            else {
					                var line = a.get(key);
                    line.setOptions({
                        middleLabel: (b.get(key) + 1).toString()
                    });
                    tempList.push([temp.index+1, this.index+1]);
                    b.set(key, b.get(key) + 1);
                    a.set(key, line);
                                }
                            }
                        }
                        }
                    }

			}
			function clearAll(){
                for(line of a.values()){
                    line.hide();
                }
                a.clear();
                b.clear();
                tempList = [];
            }
        function addList() {
                var final_list = "";
                for(var i in tempList){
                    final_list = final_list + tempList[i].toString() + " ";
                }
                var name = document.getElementById('name');
                document.getElementById('S1').value=final_list + "$" + name.innerText;
                {#var list = [];#}
                {#var aData = [1, 2, 3, 4, 5, 6, 7, 8, 9];#}
                {#var oDiv = document.getElementById('pingfen');#}
                {#var oli = oDiv.getElementsByTagName('li');#}
				{#var oP = oDiv.getElementsByTagName('p')[0];#}
                {#for(let ii = 0; ii < oli.length; ii++){#}
				{#	        if(oli[ii].className === 'active'){#}
				{#	            list.push(aData[ii]);#}
                {#            }#}
                {#        }#}
                {#var final_list = ""#}
                {#final_list = final_list + list.toString()#}
                {#final_list = final_list + " "#}
                {#document.getElementById('S1').value=final_list;#}
        }
		</script>

{% endblock %}